.App {
  text-align: center;
  /* box-sizing: border-box; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bigsize {
  padding: 30px;
  font-size: 3em;
  font-family: "Font Name", serif;
}

img {
  width: 100px;
  border-radius: 10px;
}
.HomePage {
  /* background-image: url("https://mocah.org/uploads/posts/586648-Attack-on-Titan.jpg"); */
  background-image: url("https://wallpaperaccess.com/full/5567868.jpg");

  /* background-color: #638a99; */
  color: rgb(32, 219, 172);

  box-shadow: rgb(17, 58, 52) 0px 20px 30px -10px;
  text-align: center;
}

.CardShape {
  object-fit: cover;
  border-radius: 20px;
  margin: 5px;

  width: calc(20% - 5px);
  height: calc(25% - 15px);

  /*   width: calc(25% - 5px);
  height: calc(40% - 5px); */
  position: relative;
  transform: scale(1);

  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.CardShape:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.CardsTable {
  /* border: 1px solid; */
  width: 640px;
  height: 640px;
  margin: auto;
  /* overflow: hidden; */
  display: flex;
  flex-wrap: wrap;
  /* display: inline; */

  perspective: 1000px;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 20px;
  background: rgb(138, 53, 131);
  backface-visibility: hidden;
}
.front-face {
  transform: rotateY(180deg);
}

.CardShape.flip {
  transform: rotateY(180deg);
}
